@using HRMS.Views.MyAccount
@model List<Project>
@{
    Layout = "/Views/MyAccount/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPagesMyAccount.Projects);
}
<style>
    .manageNav li {
        float: none;
        width: 100%;
        /*padding: 5px 8px;
                    margin: 1px 0px;*/
    }

        .manageNav li a {
            float: none;
            width: 100%;
            padding: 10px 15px;
            color: #337ab7;
        }


            .manageNav li a:hover {
                background-color: #337ab7;
                padding: 10px 15px;
                border-radius: 4px;
                color: #fff;
            }

        .manageNav li.active {
            background-color: #337ab7 !important;
            /*padding: 5px 8px;*/
            border-radius: 4px;
        }

    .manageNav .active a {
        float: none;
        width: 100%;
        padding: 10px 15px;
        color: #fff !important;
    }
</style>

<ul class="nav nav-pills nav-stacked manageNav" style="background:#f1f1f1;width:300px;">
    @foreach(var proj in Model){
        <li><a href="~/MyAccount/Tasks/?ProjId=@proj.ProjectId">@proj.ProjectName</a></li>
    }
</ul>

